.contact {
   display: flex;
   align-items: center;
   width: 390px;
   margin-bottom: 25px;
}

.contact__type {
   position: relative;
}

.contact__name {
   height: 37px;
   z-index: 1;
   max-width: 134px;
   min-width: 134px;
   position: relative;
   padding: 10px 12px;
   padding-right: 60px;
   cursor: pointer;
   transition: background-color .3s ease-in-out;
   border: 1px solid var(--color-gray-suit);
   background-color: var(--color-mishka);
   color: var(--color-black3);
}

.contact__name::before {
   content: '';
   position: absolute;
   right: 15px;
   top: 15px;
   width: 10px;
   height: 10px;
   background-image: url('../img/contact-arrow.svg');
   background-repeat: no-repeat;
   background-position: center center;
   transition: transform .3s ease-in-out;
}

.contact__name:hover {
   background-color: var(--color-gray-suit);
   transition: background-color .3s ease-in-out;
}

.contact__name:active {
   background-color: var(--color-mishka);
   transition: background-color .3s ease-in-out;
}

.contact__list--active.contact__name::before {
   transform: rotate(-180deg);
   transition: transform .3s ease-in-out;
}